body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: sans-serif;
}
body * {
  font-weight: 200;
}

#canvas {
  width: 800px;
  height: 373px;
    height: 373px; 
  height: 373px;
}
#image {
  background-image: url('./layouts/mac-qwerty.png');
  background-repeat: no-repeat;
  width: 800px;
  height: 373px;
}
.qwerty {
}

/* 
background-size: 1280px;
width: 1280px;
height: 407px; */