.canvas {
  width: 1200px;
  height: 400px;
}

.image {
  background-repeat: no-repeat;
}

.flex {
  display: flex;
}

.flex .row {
  flex-direction: row;
}

.flex .column {
  flex-direction: column;
}
