.canvas {
  width: 800px;
  height: 373px;
}

.image {
  background-repeat: no-repeat;
  width: 800px;
  height: 373px;
}

.flex {
  display: flex;
}

.flex .row {
  flex-direction: row;
}

.flex .column {
  flex-direction: column;
}
